*{
	margin: 0;
	padding: 0;
}

body {
	background: white;
}


/* ------------------------- */
/* CONTAINERS */
/* ------------------------- */

.container1, .container2, .container3, .container4,
.container5, .container6, .container7, .container8 {
	display: flex;
	min-height: 40vh;
	align-items: center;
	justify-content: center;
}



/* ----------------------------*/
/* CONTAINERS 1 - 3 (Azules)   */
/* ----------------------------*/


.container1 .img1 {
	background: url(frenos.jpg);
}

.container3 .img3 {
	background: url(interior.jpg);
}


/** IMG */

.container1 .img1,
.container3 .img3 {
	height: 200px; 
	width: 250px;

	position: absolute;
	background-size: cover;
	background-position: center;
	border-radius: 25px;
}

/** PINTAR */

.container1 .overlay1, 
.container3 .overlay3 {
	height: 200px;
	opacity: 0.7;
	width: 250px;

	border-radius: 25px;

	background: linear-gradient(90deg, #686868, #000);
	position: absolute;
}


/* ----------------------------*/
/* CONTAINERS 2 - 4 (Morados)  */
/* ----------------------------*/

.container2 .img2{
	background: url(motor.jpg);
}

.container4 .img4{
	background: url(suspension.jpg);
}

.container2 .img2,
.container4 .img4 {
	height: 200px; 
	width: 250px;

	position: absolute;
	background-size: cover;
	background-position: center;
	border-radius: 25px;
}


.container2 .overlay2, 
.container4 .overlay4 {
	height: 200px;
	opacity: 0.7;
	width: 250px;

	border-radius: 25px;

	background: linear-gradient(90deg, #a30000, #000);
	position: absolute;
}




/* -----------------------------*/
/* CONTAINERS (5 - 7)  2.Fila   */
/* -----------------------------*/

.container5 .img5 {
	background: url(diferenciales.jpg);
}

.container7 .img7 {
	background: url(iluminacion.jpg);
}


.container5 .img5,
.container7 .img7 {
	height: 200px; 
	width: 250px;

	position: absolute;
	background-size: cover;
	background-position: center;
	border-radius: 25px;
}

/** PINTAR */

.container5 .overlay5, 
.container7 .overlay7 {
	height: 200px;
	opacity: 0.7;
	width: 250px;

	border-radius: 25px;

	background: linear-gradient(90deg, #a30000, #000);
	position: absolute;
}


/* -----------------------------*/
/* CONTAINERS (6 - 8)  2.Fila   */
/* -----------------------------*/

.container6 .img6 {
	background: url(cajacambios3.jpg);
}

.container8 .img8 {
	background: url(cabina.jpg);
}

.container6 .img6,
.container8 .img8 {
	height: 200px; 
	width: 250px;

	position: absolute;
	background-size: cover;
	background-position: center;
	border-radius: 25px;
}


.container6 .overlay6, 
.container8 .overlay8 {
	height: 200px;
	opacity: 0.7;
	width: 250px;

	border-radius: 25px;

	background: linear-gradient(90deg, #686868, #000);
	position: absolute;
}

